.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 10rem 10rem 10rem 10rem;
  	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header 		header 	header 	header"
		"sidebar 	sidebar 		main 		main"
		"footer 		footer 	footer	footer";
	max-width: 40rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
	@media (max-width: 36rem) {
		display: flex;
		flex-direction: column;
	}
}

.header {
	grid-area: header;
	padding: 1rem;
	border-bottom: 1px solid #ccc;
	@media (max-width: 36rem) {
		order: 1;
	}
}

.main {
	grid-area: main;
	padding: 1rem;
	@media (max-width: 36rem) {
		order: 1;
	}
}

.aside {
	grid-area: sidebar;
	padding: 1rem;
	background-color: #eee;
	border-right: 1px solid #ccc;
	@media (max-width: 36rem) {
		order: 3;
		border-right: 0;
		border-top: 1px solid #ccc;
	}
}

.footer {
	grid-area: footer;
	padding: 1rem;
	border-top: 1px solid #ccc;
	@media (max-width: 36rem) {
		order: 4;
	}
}

// Setup
* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	font-size: 1rem;
	padding: 1rem;
	margin: 0;
}